{% extends "base.html" %}
{% load blog_extras %}

{% block content %}
  <div class="container mt-5">
    <h2>{{ post.title }}</h2>

    <div class="row mb-4">
      <div class="col">
        {% include "blog/post-byline.html" %}
      </div>
    </div>

    {% if post.hero_image %}
      <div class="mb-4">
        <img src="{{ post.hero_image.url }}" class="img-fluid rounded" alt="{{ post.title }}">
      </div>
    {% endif %}

    <div class="row">
      <div class="col">
        {{ post.content|safe }}
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <h4>Recent Posts</h4>
        {% recent_posts post %}
      </div>
    </div>

    {% if post.author.profile %}
      <div class="row mt-5">
        <div class="col">
          <h4>About the Author</h4>
          <p>{{ post.author.profile.bio }}</p>
        </div>
      </div>
    {% endif %}

    {% include "blog/post-comments.html" %}
  </div>
{% endblock %}
